*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
    background: #222;
    color: #fff;

}

.card{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 500px;

    background-image: linear-gradient(135deg,#00feba, #5b548a);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
   
    padding: 50px 35px;
    margin: 100px auto 0;
    text-align:center;
}
.search{
    width: 100%;
   display:flex;
    justify-content: space-between;
    align-items: center;
}
.search input{
    height: 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 10px 25px;
    font-size: 16px;
    flex:1;
    margin-right: 15px;
    background: #fff;
    color: #222;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
.search input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.search input:focus{
    border: 1px solid #222;
}

.search button{
    border:0;
    outline: none;
    background: #fff;
    border-radius: 50%;
    width:60px;
    height:60px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.search button img{
    width: 25px;
}

.weather-icon{
    margin-top: 30px;
    width:130px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
    margin-top: -9px;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 0px;
}

.details{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    padding: 0 20px;
    
}

.col{
    display: flex;
    align-items: center;
    text-align:left;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.col div span{
    font-size: 20px;

}
.weather{
    display:none;
    
}